---
'open_onto': master
default_its: rt
user_lookup_method: LocalGroup
user_lookup_group: develop
rt_statuses:
  open:
    from: '.*'
    to: 'in_progress'
    block: ['closed', 'in_production', ']
  edit:
    from: '.*'
    to: 'in_progress'
  submit: 
    from: 'in_progress|failed'
    to: 'pending_review'
  fail: 
    from: 'pending_review'
    to: 'failed'
  pass:
    from: 'pending_review'
    to: 'merged'
  promote:
    test:
      from: 'merged'
      to: 'in test'
    stage:
      from: 'in_test|ready_for_staging'
      to: 'in stage'
    prod:
      from: 'in_stage|ready_for_release'
      to: 'CLOSE'

