'eventum_uri'      => 'https://eventum.example.com',
'eventum_statuses' => {
    open => {
        from => '.*',
        to   => 'in progress',
        block => [ 'closed', 'completed', 'in production' ],
    },
    edit => {
        from => '.*',
        to   => 'in progress',
    },
    submit => {
        from => 'in progress|failed',
        to   => 'pending review',
    },
    fail => {
        from => 'pending review',
        to   => 'failed',
    },
    pass => {
        from => 'pending review',
        to   => 'merged',
    },
    promote => {
        test => {
            from => 'merged',
            to   => 'in test',
        },
        stage => {
            from => 'in test|ready for staging',
            to   => 'in stage',
        },
        prod => {
            from => 'in stage|ready for release',
            to   => 'CLOSE',
        },
    },
},

