
    'jira_uri'         => 'https://example.atlassian.net/',
    'jira_statuses' => {
        open => {
            from => '.*',
            to   => 'In Progress',
            flag => '(*)', 
            block => [ 'Closed', 'Completed', 'Released' ],
        },
        edit => {
            from => '.*',
            to   => 'In Progress',
            flag => '(*)',
        },
        submit => {
            from => 'In Progress|Failed|Info Needed',
            to   => 'Work Pending Review',
            flag => '(?)',
        },
        fail => {
            from => 'Work Pending Review',
            to   => 'Failed',
            flag => '(n)',
        },
        pass => {
            from => 'Work Pending Review',
            to   => 'Work Reviewed',
            flag => '(y)',
        },
        promote => {
            test => {
                from => 'Work Reviewed',
                to   => 'In Test',
                flag => '(+)',
            },
            stage => {
                from => 'In Test|Passed in Test',
                to   => 'In Stage',
                flag => '(+)',
            },
            prod => {
                from => 'In Stage|Passed in Stage',
                to   => 'Ready for Release',
                flag => '(+)',
            },
        },
    },
    'open onto' => 'master',

